.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.FormItem{
  margin-left:7%;
  margin-top: 2%;
}
.error {
  border:none;
  border-bottom: red 1px solid;
}
.norma{
  border: none;
  border-bottom: black 1px solid;
}
.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
